# Virtual Environment
venv/
env/
.venv

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Database
*.db
instance/

# Flask-Migrate
migrations/

# Environment variables
.env

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db